<div class="" style="position: absolute;
left: 50%;
transform: translate(-50%, -50%); margin-top: 3rem;">
    <button style="border-radius: 5px; padding: 10px;" onclick="usersMenu()">Users Menu</button>
    <button style="border-radius: 5px;padding: 10px;">Products Menu</button>
    <button style="border-radius: 5px;padding: 10px;">Statistics Menu</button>
</div>

<div id="users" style="margin-top: 10rem;margin-bottom: 10rem;">
    <h1>Users</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Admin</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < users.length; i++){ %>
                <div class="r<%= i %>">
                    <tr>
                        <th scope="row">
                            <%= users[i].id %>
                        </th>
                        <td>
                            <%= users[i].username %>
                        </td>
                        <td>
                            <%= users[i].email %>
                        </td>
                        <td>
                            <%= users[i].password %>
                        </td>
                        <td>
                            <%= users[i].isAdmin %>
                        </td>
                        <td>
                                <!-- <form method="POST" action="api/users/<%= users[i].id %>"> -->
                                    <button onclick="updateMenu()" id="Btn" style="border: none;">
                                        Update
                                    </button>
                        </td>
                        </form>
                <td>
                        <form id="PutForm" method="POST" action="/api/users/<%=users[i].id%>">
                            <button id="Btn" style="border: none;">
                                Delete
                            </button>
                    </td>
                </form>
                </tr>
                <th scope="row">
                    <div id="update">
                        <!-- <form method="POST" action="/api/users/<%=users[i].id%>">
                        <input type="text" name="username" placeholder="Username">
                        <input type="text" name="email" placeholder="Email">
                        <input type="text" name="password" placeholder="Password">
                        <input type="text" name="isAdmin" placeholder="Admin">
                        <button id="Btn" style="border: none;">
                            Update
                        </button>
                    </form> -->
                    </div>
                </th>
                <% } %>
        </tbody>
    </table>
</div>
</div>
<div class="p">

</div>
<script>

    $('form#PutForm').submit(function (e) {
        e.preventDefault();
        var formAction = $(this).attr('action');
        $.ajax({
            url: formAction,
            type: 'DELETE',
            success: function (data) {
                console.log(data);
            }
        });
    });

    function usersMenu() {
        var x = document.getElementById("users");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function updateMenu() {
        var x = document.getElementById("update");

        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>