<div class="row">
    <div style="display: table; margin: auto;z-index: -1;">
        <span class="step step_complete"> <a class="check-bc">Cart</a> <span class="step_line step_complete"> </span>
            <span class="step_line backline"> </span> </span>
        <span class="step "> <a class="check-bc">Checkout</a> <span class="step_line"> </span> <span
                class="step_line "> </span> </span>
        <span class="step ">Thank you</span>
    </div>
</div>
    <% if (cartItems.length> 0) { %>
        <% for (i=0; i < cartItems.length; i++) { %>
            <div class="small-container cart-page" id="prod"
                style="border: 5px solid #ff523b;border-radius:30px;padding:15px">
                <table>
                    <tr>
                        <th>
                            <b>
                                <div>
                                    <%= cartItems[i].product.Product_name %>
                                </div>
                            </b>
                        </th>
                        <th>
                            <b>Quantity</b>
                        </th>
                        <th>
                            <b>Subtotal</b>
                        </th>
                    </tr>

                    <tr>
                        <td>
                            <div class="cart-info">
                                <img style="height: 130px;width: 160px;" src="<%= cartItems[i].product.image %>">
                                <div style="position:relative;left:75px">
                                    <div><b>brand:</b>
                                        <%= cartItems[i].product.brand.name %>
                                    </div>
                                    <div><b>Size:</b> </div>
                                    <div><small>price:$<%= cartItems[i].product.price %></small></div>
                                    <form id="remForm" action="/remove-from-cart" method="POST">
                                        <input type="hidden" name="productId" value="<%- cartItems[i].product.id %>">
                                        <button class="btn" style="background-color: #ff523b; color: white;">Remove
                                            Product</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <button class="btn"
                            style="background-color: #ff523b; color: white; position: relative; left:71.5%; top: 10.4rem;">Update</button>
                        <td>
                            <input id="quantity" type="number" value="<%= cartItems[i].quantity %>">

                        </td>
                        <td>
                            <div id="subtotal">
                            <b>$<%= cartItems[i].price * cartItems[i].quantity %></b>
                        </div>
                        </td>
                    </tr>
                </table>
            </div>
            <% } %>
                <% var total=0 %>
                    <% for(j=0 ; j < cartItems.length ; j++) { %>
                        <% total +=cartItems[j].price * cartItems[j].quantity %>
                            <% } %>
                                <div class="container"
                                    style="border:10px #ff523b solid ;border-radius: 30px;padding: 15px;max-width: 40rem;">
                                    <h1>Total Price : $<%= total %>
                                    </h1>

                                    <form action="/checkout">
                                        <input type="hidden" name="total" value="<%= total %>">
                                        <button class="btn"
                                            style="background-color: #ff523b ; color: white;position: relative;left: 35%;">Checkout</button>
                                    </form>

                                </div>

                                <% }else { %>
                                    <h1>Cart is empty</h1>
                                    <% } %>


                                        <script>
                                            $(document).ready(() => {

                                                $("form#remForm").submit(function (e) {
                                                    e.preventDefault();
                                                    $.ajax({
                                                        url: "/remove-from-cart",
                                                        data: $(this).serialize(),
                                                        type: 'POST',
                                                        success: function (data) {
                                                            $('.notification').load(" .notification");
                                                            $('main').load(" main");
                                                        }
                                                    });
                                                });

                                                $("#quantity").change(function (e) {
                                                    var data = $(this).val();
                                                    var subtotal = $("#subtotal").html().toString();
                                                    console.log(subtotal);
                                                    console.log(data);
                                                    $.ajax({
                                                        success: function (data) {
                                                            $('.notification').load(" .notification");
                                                            $('main').load(" main");
                                                        }
                                                    });
                                                });

                                            });
                                        </script>