<div class="row">
    <div style="display: table; margin: auto;z-index: -1;">
        <span class="step step_complete"> <a class="check-bc">Cart</a> <span class="step_line step_complete"> </span>
            <span class="step_line backline"> </span> </span>
        <span class="step "> <a class="check-bc ml-3">Checkout</a> <span class="step_line"> </span> <span
                class="step_line "> </span> </span>
    </div>

</div>


<div class="ajax">
    <div style="overflow-x:auto;">
        <section id="cart" class="section-p1">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Remove</td>
                        <td>Image</td>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Size</td>
                        <td>Quantity</td>
                        <td>Subtotal</td>
                    </tr>
                </thead>
            </table>
        </section>
        <section id="cart" class="section-p1">
            <table width="100%">
                <% if (cartItems.length> 0) { %>
                    <% for (i=0; i < cartItems.length; i++) { %>
                        <tbody>
                            <tr class="cartRows">
                                <td>
                                    <form id="remForm">
                                        <input type="hidden" name="productId" value="<%- cartItems[i].product.id %>">
                                        <input type="hidden" name="size" value="<%- cartItems[i].size %>">
                                        <button type="submit"><i><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                    height="16" fill="currentColor" class="fa-time" viewBox="0 0 16 16">
                                                    <path
                                                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path
                                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                                </svg></i></button>
                                    </form>
                                </td>
                                <td><img src="<%= cartItems[i].product.image %>" alt=""></td>
                                <td>
                                    <%= cartItems[i].product.Product_name %>
                                </td>
                                <td>$<%= cartItems[i].product.price %>
                                </td>
                                <td>
                                    <%= cartItems[i].size %>
                                </td>
                                <td><input type="number" id="quantity" min="1" value="<%= cartItems[i].quantity %>">
                                </td>
                                <td>$<%=cartItems[i].price * cartItems[i].quantity%>
                                </td>
                            </tr>
                        </tbody>
                        <% } %>
            </table>
        </section>
    </div>
    <% var total=0 %>
        <% for(let j=0 ; j < cartItems.length ; j++) { %>
            <% total +=cartItems[j].price * cartItems[j].quantity %>
                <% } %>
                    <div class="container">
                        <section id="subtotal">
                            <h3>Cart Total</h3>
                            <table>
                                <tr>
                                    <td>Cart Subtotal</td>
                                    <td>$<%= total %>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shipping</td>
                                    <td>Free</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>$<%= total %>
                                    </td>
                                </tr>
                            </table>
                            <a href="/checkout"><button class="normal">Proceed to Checkout</button></a>
                        </section>
                    </div>

                    <% }else { %>
                        <h1>Cart is empty</h1>
                        <% } %>

</div>

<script>
    $(document).on('click', "form#remForm", function (e) {
        e.preventDefault();
        $.ajax({
            url: "/remove-from-cart",
            data: $(this).serialize(),
            type: 'POST',
            success: function (data) {
                if ($(".cartRows").length == 1) {
                    location.reload();
                } else {
                    $('.notification').load(" .notification");
                    $("main").load(" main");
                }
            }
        });
    });

    $(document).on('change', "#quantity", function (e) {
        const quantity = $(this).val();
        const product = $(this).parent().parent().parent().find("input[name='productId']").val();
        $.ajax({
            url: "/update-cart",
            data: {
                productId: product,
                quantity: quantity,
                size: $(this).parent().parent().parent().find("input[name='size']").val()
            },
            type: 'POST',
            success: function (data) {
                $('.notification').load(" .notification");
                $(".ajax").load(" .ajax");
            }
        });
    })
</script>