


    <% for (i = 0; i < cartItems.length; i++) { %>
    <div class="small-container cart-page">
    <table>
        <tr>
            <th><%= cartItems[i].product.Product_name %></th>
            <th><%= cartItems[i].quantity %></th>
            <th><%= cartItems[i].price * cartItems[i].quantity %></th>
        </tr> 

        <tr>
            <td>
                <div class="cart-info">
                    <img src="<%= cartItems[i].product.image %>">
                    <div>
                        <p>description: <%= cartItems[i].product.description %></p>
                        <small>price: $<%= cartItems[i].price%></small>
                        <br>
                       <form method="POST" action="/remove-product" >
                        <input name="productID" type="hidden"  value="<%= cartItems[i]._id %>">
                        <button class="btn btn-warning">Remove product</button>
                        </form>
                    </div>
                </div>
            </td>
            <td>
                <input type="number" value="1">
            </td>
            <td>  
                <%= cartItems[i].price * cartItems[i].quantity %>
            </td>
        </tr>
    </table>
</div>;
        
        <% } %>
