<h1>Shop</h1>

    <div class="row g-0 text-center">
        <div class="col-sm-6 col-md-8">
            <div class="d-flex col-12" id="b">
                
            </div>
        </div>
        <div class="col-6 col-md-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni modi ipsa sed facere nisi.</div>
      </div>

<script>
    "<% for (index = 0; index < ProductModel.length; index++) { %>"
    var code = `<div class="pb-3">
    <div class="container product">
        <div>
            <div">
                <div class="card">
                    <div class="card-body">
                        <img src="<%= ProductModel[index].image %>" alt="product image"
                      class="img-fluid">
                    </div>
                </div>
            </div>
            <div">
                <div class="card">
                    <div class="card-body">
                        <h2>
                            <%= ProductModel[index].Product_name %>
                        </h2>
                        <p class="price"><u>Price</u>: $<%=ProductModel[index].price %>
                        </p>
                        <p class="description">
                            <u>Rating</u>: <%=ProductModel[index].rating %>
                        </p>
                        <p class="category">
                            <u>Category</u>: <%=ProductModel[index].category %>
                        </p>
                        <p class="stock">
                            <u>Stock</u>: <%=ProductModel[index].stock %>
                        </p>
                        <p class="rating">   
                            <u>Description</u>: <%=ProductModel[index].description%>
                        </p>
                        <form action="/add-to-cart" method="POST">
                            <input type="hidden" name="productId" value="<%= ProductModel[index]._id %>">
                            <button class="btn btn-primary">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>`;
    document.querySelector("#b").innerHTML += code;
    "<% } %>"
</script>
</div>