<h1>Shop</h1>

<% console.log(params.query.search) %> 


    <div class="row text-center">
            <div class="grid-container" id="b">
                
            </div>
</div>

<script>
    "<% for (index = 0; index < ProductModel.length; index++) { %>"
    var code = `<div class="pb-3">
    <div class="container product">
        <div>
            <div">
                <div class="card">
                    <div class="card-body">
                        <img src="<%= ProductModel[index].image %>" alt="product image"
                      class="img-fluid">
                    </div>
                </div>
            </div>
            <div">
                <div class="card">
                    <div class="card-body">
                        <h2>
                            <%= ProductModel[index].Product_name %>
                        </h2>
                        <p class="price"><u>Price</u>: <b>$<%=ProductModel[index].price %></b>
                        </p>
                        <p class="description">
                            <u>Rating</u>: <%=ProductModel[index].rating %>
                        </p>
                        <p class="category">
                            <u>Category</u>: <%=ProductModel[index].category.name %>
                        </p>
                        <p class="quantity">
                            <u>quantity</u>: <%=ProductModel[index].quantity %>
                        </p>
                        <p class="rating">   
                            <u>Description</u>: <%=ProductModel[index].description%>
                        </p>
                        <form action="/add-to-cart" method="POST" id="Myform">
                            <input type="hidden" name="productId" value="<%- ProductModel[index]._id %>">
                            <button class="btn btn-primary">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>`;
    document.querySelector("#b").innerHTML += code;
    "<% } %>"

</script>
</div>