<section id="page-header">
  <h2>#stayhome</h2>
  <p><b>Save more with our 70% off!</b> </p>
</section>

<div id="product1" class="section-p1">
  <h2>Our Products</h2>
  <p>Summer Collection New Modern Design</p>

  <header>
    <div class="filtering">
      <ul class="indicator">
        <li data-filter="all" class="clickable active" id="all">All</li>
        <li data-filter="Nike" class="clickable" id="nike">Nike</li>
        <li data-filter="Adidas" class="clickable" id="adidas">Adidas</li>
        <li data-filter="Puma" class="clickable" id="puma">Puma</li>
        <li data-filter="New Balance" class="clickable" id="newBalance">New Balance</li>
      </ul>


      <div class="filter-condition">
        <span>Sort by</span>
        <select name="sort" id="sorter">
          <option value="Newest">Newest</option>
          <option value="LowToHigh">Price (low to high)</option>
          <option value="HighToLow">Price (high to low)</option>
          <option value="Rating">Rating</option>
        </select>
      </div>
    </div>
  </header>

  <div class="test">
    <header class="pro-container" id="container">
      <% for (index=0; index < ProductModel.results.length; index++) { %>

        <div class="pro">
          <form id="prodForm" action="/product-page" method="GET">
            <button style="border: none;"><img src="<%= ProductModel.results[index].image %>" alt=""></button>
            <input type="hidden" name="id" value="<%= ProductModel.results[index].id %>">
          </form>
          <div class="des">
            <span>
              <%=ProductModel.results[index].brand.name %>
            </span>
            &nbsp<span>
              <%=ProductModel.results[index].category.name %>
            </span><br>
            <h5>
              <%= ProductModel.results[index].Product_name %>
            </h5>
            <div id="rating">
              <% for (rat=0; rat < ProductModel.results[index].rating; rat++) { %>
                <span class="star">
                  <i class="fas fa-start"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="fas fa-start" viewBox="0 0 16 16">
                      <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                  </i>
                </span>
                <% } %>
            </div>
            <h4><b>$<%=ProductModel.results[index].price %></b></h4>
          </div>
          <form id="Myform" action="/product-page" method="GET">
            <input type="hidden" name="id" value="<%- ProductModel.results[index]._id %>">
            <button id="add-to-cart" type="submit" class="fal fa-shopping-cart cart"><svg
                xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                <path
                  d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
            </button>
          </form>
        </div>
        <% } %>
  </div>
</div>
</div>


<div class="pagination" id="pages" style="margin-left: 37%;">
  <li class="page-item previous-page" id="previous"><a class="page-link">Prev</a></li>
  <li class="page-item current-page active" id="1"><a class="page-link">1</a></li>
  <li class="page-item current-page" id="2"><a class="page-link">2</a></li>
  <li class="page-item current-page" id="3"><a class="page-link">3</a></li>
  <li class="page-item current-page" id="4"><a class="page-link">4</a></li>
  <li class="page-item current-page" id="5"><a class="page-link">5</a></li>
  <li class="page-item current-page" id="6"><a class="page-link">6</a></li>
  <li class="page-item next-page" id="next"><a class="page-link">Next</a></li>
</div>


<script type="text/javascript">
  var current_page = 1;
  var sorter = "Newest";
  var url = "";

  if ("<%=search%>") {
    document.getElementsByClassName("pagination")[0].style.display = "none";
  }

  $(document).on('click', "#next", function () {
    if (current_page < 6) {
      $.ajax({
        url: "/shop?page=" + (++current_page) + "&limit=12&sorter=" + sorter,
        type: 'GET',
        success: function (data) {
          $(".pro-container").load("/shop?page=" + (current_page) + "&limit=12&sorter=" + sorter + " .pro-container");
          $("#" + current_page).addClass("active");
          $("#" + (current_page - 1)).removeClass("active");
        }
      });
    }
  })

  $(document).on('click', "#previous", function () {
    if (current_page > 1) {
      $.ajax({
        url: "/shop?page=" + (--current_page) + "&limit=12&sorter=" + sorter,
        type: 'GET',
        success: function (data) {
          $(".pro-container").load("/shop?page=" + (current_page) + "&limit=12&sorter=" + sorter + " .pro-container");
          $("#" + current_page).addClass("active");
          $("#" + (current_page + 1)).removeClass("active");
        }
      });
    }
  });

  $(document).on('change', "#sorter", async function () {
    sorter = $(this).val();
    if (sorter == "LowToHigh") {
      console.log("Success");
      url = "/shop?page=" + current_page + "&limit=12&sorter=LowToHigh"
    }
    if (sorter == "HighToLow") {
      url = "/shop?page=" + current_page + "&limit=12&sorter=HighToLow";
    }

    if (sorter == "Rating") {
      url = "/shop?page=" + current_page + "&limit=12&sorter=Rating";
    }

    if (sorter == "Newest") {
      url = "/shop?page=" + current_page + "&limit=12&sorter=Newest";
    }

    $.ajax({
      url: "/shop?page=1&limit=12",
      type: "GET",
      data: {
        sorter: sorter
      },
      success: function (data) {
        $("#1").addClass("active");
        $("#2").removeClass("active");
        $("#3").removeClass("active");
        $("#4").removeClass("active");
        $("#5").removeClass("active");
        $("#6").removeClass("active");
        $(".pro-container").load("/shop?page=1&limit=12&sorter=" + sorter + " .pro-container");
      }
    })
  });

  $("#1").click(function () {
    $.ajax({
      url: url,
      type: 'GET',
      success: function (data) {
        current_page = 1;
        $("#1").addClass("active");
        $("#2").removeClass("active");
        $("#3").removeClass("active");
        $("#4").removeClass("active");
        $("#5").removeClass("active");
        $("#6").removeClass("active");
        $(".pro-container").load("/shop?page=" + current_page + "&limit=12&sorter=" + sorter + " .pro-container");

      }
    });
  });
  $("#2").click(function () {
    $.ajax({
      url: url,
      type: 'GET',
      success: function (data) {
        current_page = 2;
        $("#2").addClass("active");
        $("#1").removeClass("active");
        $("#3").removeClass("active");
        $("#4").removeClass("active");
        $("#5").removeClass("active");
        $("#6").removeClass("active");
        $(".pro-container").load("/shop?page=" + current_page + "&limit=12&sorter=" + sorter + " .pro-container");
      }
    });
  });
  $("#3").click(function () {
    $.ajax({
      url: url,
      type: 'GET',
      success: function (data) {
        current_page = 3;
        $("#3").addClass("active");
        $("#2").removeClass("active");
        $("#1").removeClass("active");
        $("#4").removeClass("active");
        $("#5").removeClass("active");
        $("#6").removeClass("active");
        $(".pro-container").load("/shop?page=" + current_page + "&limit=12&sorter=" + sorter + " .pro-container");

      }
    });
  });
  $("#4").click(function () {
    $.ajax({
      url: url,
      type: 'GET',
      success: function (data) {
        current_page = 4;
        $("#4").addClass("active");
        $("#2").removeClass("active");
        $("#3").removeClass("active");
        $("#1").removeClass("active");
        $("#5").removeClass("active");
        $("#6").removeClass("active");
        $(".pro-container").load("/shop?page=" + current_page + "&limit=12&sorter=" + sorter + " .pro-container");

      }
    });
  });
  $("#5").click(function () {
    $.ajax({
      url: url,
      type: 'GET',
      success: function (data) {
        current_page = 5;
        $("#5").addClass("active");
        $("#2").removeClass("active");
        $("#3").removeClass("active");
        $("#4").removeClass("active");
        $("#1").removeClass("active");
        $("#6").removeClass("active");
        $(".pro-container").load("/shop?page=" + current_page + "&limit=12&sorter=" + sorter + " .pro-container");

      }
    });
  });
  $("#6").click(function () {
    $.ajax({
      url: url,
      type: 'GET',
      success: function (data) {
        current_page = 6;
        $("#6").addClass("active");
        $("#2").removeClass("active");
        $("#3").removeClass("active");
        $("#4").removeClass("active");
        $("#5").removeClass("active");
        $("#1").removeClass("active");
        $(".pro-container").load("/shop?page=" + current_page + "&limit=12&sorter=" + sorter + " .pro-container");

      }
    });
  });


  $("#nike").click(function () {
    $.ajax({
      url: "/shop?search=Nike",
      type: 'GET',
      success: function (data) {
        $("#nike").addClass("active");
        $("#all").removeClass("active");
        $("#adidas").removeClass("active");
        $("#puma").removeClass("active");
        $("#newBalance").removeClass("active");
        $("#pages").addClass("invisible");
        $(".pro-container").load("/shop?search=Nike .pro-container");
      }
    });
  });

  $("#adidas").click(function () {
    $.ajax({
      url: "/shop?search=Adidas",
      type: 'GET',
      success: function (data) {
        $("#adidas").addClass("active");
        $("#all").removeClass("active");
        $("#nike").removeClass("active");
        $("#puma").removeClass("active");
        $("#newBalance").removeClass("active");
        $("#pages").addClass("invisible");
        $(".pro-container").load("/shop?search=Adidas .pro-container");
      }
    });
  });

  $("#puma").click(function () {
    $.ajax({
      url: "/shop?search=Puma",
      type: 'GET',
      success: function (data) {
        $("#puma").addClass("active");
        $("#all").removeClass("active");
        $("#nike").removeClass("active");
        $("#adidas").removeClass("active");
        $("#newBalance").removeClass("active");
        $("#pages").addClass("invisible");
        $(".pro-container").load("/shop?search=Puma .pro-container");
      }
    });
  });
  $("#newBalance").click(function () {
    $.ajax({
      url: "/shop?search=New Balance",
      type: 'GET',
      success: function (data) {
        $("#newBalance").addClass("active");
        $("#all").removeClass("active");
        $("#nike").removeClass("active");
        $("#puma").removeClass("active");
        $("#adidas").removeClass("active");
        $("#pages").addClass("invisible");
        $(".pro-container").load("/shop?search=New .pro-container");
      }
    });
  });
  $("#all").click(function () {
    $.ajax({
      url: "/shop?page=1&lmit=12",
      type: 'GET',
      success: function (data) {
        $("#all").addClass("active");
        $("#newBalance").removeClass("active");
        $("#nike").removeClass("active");
        $("#puma").removeClass("active");
        $("#adidas").removeClass("active");
        $("#pages").removeClass("invisible");
        $(".pro-container").load("/shop?page=1&limit=12 .pro-container");
      }
    });
  });
</script>